<html>
{% extends 'base.html'%}
{% block content %}
<h1> Upadate  Student Details</h1>
<form method="POST">
    Student No <input type="text" name="sno" value={{student.sno}}>
    Student Name <input type="text" name="sname" value={{student.sname}}>
    Student Class <input type="text" name="sclass" value={{student.sclass}}>
    Student Adress <input type="text" name="saddress" value={{student.saddress}}>

 {% csrf_token %}
 
 <input type='submit' value='updateStudent'>
    
</form>


{% endblock %}        

</html>